<div class="connect-form">
    <h3>{{utils.getString('nav_connect')}}</h3>
    <div class="row">
        <div class="form-group col-md-6 col-12">
            <input type="text" class="form-control" placeholder="{{utils.getString('contact_name')}}" [(ngModel)]="msg.SenderName" />
        </div>
        <div class="form-group col-md-6 col-12">
            <input type="tel" class="form-control" placeholder="{{utils.getString('contact_mobile')}}" [(ngModel)]="msg.PhoneNumber" />
        </div>
        <div class="form-group col-12">
            <input type="email" class="form-control" placeholder="{{utils.getString('contact_email')}}"  [(ngModel)]="msg.SenderEmail"/>
        </div>
        <div class="form-group col-12">
            <input type="text" class="form-control" placeholder="{{utils.getString('contact_subject')}}" [(ngModel)]="msg.MessagSubject" />
        </div>
        <div class="form-group col-12">
            <textarea class="form-control" placeholder="{{utils.getString('contact_message')}}" [(ngModel)]="msg.MessageBody"></textarea>
        </div>
        <div class="form-group col-12">
            <button class="send-message" (click)="sendMessage()">
                <span class="btn-span">{{utils.getString('contact_send')}}</span>
            </button>
        </div>
    </div>
</div>