<div class="container">
    <div class="row">
        <div class="col-12">            
            <div class="news-page" *ngIf="item.NewsID">
                <img src="{{utils.getImage(item.NewsPhoto, 1170, 878)}}" class="news-cover" alt="{{item['NewsTitle_' + lang]}}" />
                <div class="new-title">
                    {{item['NewsTitle_' + lang]}}
                </div>
                <div class="news-date">
                    <i class="fal fa-calendar-alt"></i>
                    <span>{{item['NewsDate_' + lang]}}</span>
                </div>
                <div class="web-page-content" [innerHTML]="htmlContent"></div>
            </div>
        </div>       
    </div>
</div>