.news-page {
  padding: 15px 0 30px;
}
.news-page img.news-cover {
  display: block;
  margin: 0 auto 15px;
}
.news-page .new-title {
  font-size: 1.8em;
  /* font-weight: 700; */
  margin-bottom: 10px;
}
.news-page .news-date {
  margin-bottom: 15px;
}
