<app-page-title [webPage]="webPage" [lang]="lang"></app-page-title>
<div class="container">
    <div class="row">        
        <div class="col-12" *ngIf="item.NewsID">
            <div class="top-news-item">
                <div class="news-photo m-l-15">
                    <a href="#" routerLink="/{{lang}}/news/post/{{item.NewsID}}">
                        <img src="{{utils.getImage(item.NewsPhoto, 300, 225)}}" alt="{{item['NewsTitle_' + lang]}}" />
                    </a>        
                </div>
                <div class="news-info">
                        <div class="new-title">
                            <a href="#" routerLink="/{{lang}}/news/post/{{item.NewsID}}">
                                {{item['NewsTitle_' + lang]}}
                            </a>
                        </div>
                        <div class="news-date">
                            <i class="fal fa-calendar-alt"></i>
                            <span>{{item['NewsDate_' + lang]}}</span>
                        </div>
                        <div class="news-breif" [innerHTML]="item['NewsContent_' + lang]"></div> 
                        <a href="#" routerLink="/{{lang}}/news/post/{{item.NewsID}}" class="read-more-news">
                            {{utils.getString('read_more_2')}}
                        </a>                      
                </div>
            </div>
        </div>        
        <div class="col-lg-4 col-md-6 col-12" *ngFor="let item of news">
            <app-news-item [item]="item" [lang]="lang"></app-news-item>
        </div>
    </div>
</div>