.swiper {
  max-height: 768px;
}
.the-slide {
  position: relative;
  max-height: 768px;
}
img.default-slide {
  width: 100%;
}
.slide-image {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 10;
}
.slide-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.swiper-button-next,
.swiper-button-prev {
  color: rgba(255, 255, 255, 0.8);
}
.slide-content {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  z-index: 20;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  font-size: 20px;
  background-color: rgba(0, 0, 0, 0.15);
}
.slide-card {
  border-radius: 5px;
  /* background-color: rgba(0, 0, 0 , 0.25); */
  padding-top: 80px;
  width: 80%;
  max-width: 768px;
  min-width: 280px;
  margin: 0 auto;
  color: #fff;
  text-align: center;
}
.slide-card-wrapper {
  display: flex;
  justify-content: flex-end;
}
.slide-title {
  font-size: 2em;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-bottom: 5px;
  font-weight: 700;
  text-shadow: 5px 5px 5px rgba(44, 49, 55, 0.6);
}
.slide-desc {
  font-size: 1.3em;
  line-height: 1.3em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  text-shadow: 5px 5px 5px rgba(44, 49, 55, 0.6);
}
.slide-link {
  margin-top: 15px;
}
.slide-link a {
  display: inline-block;
  font-size: 0.9em;
  background-color: var(--accent-color);
  color: #fff;
  border-radius: 5px;
  line-height: 1;
  padding: 10px;
  box-shadow: 0 0 5px rgba(44, 49, 55, 0.6);
  text-decoration: none;
}
.slide-link a.active,
.slide-link a:hover {
  background-color: var(--green-color);
  color: var(--primary-color);
}
.slide-link a span {
  position: relative;
  top: 2px;
}
@media screen and (max-width: 768px) {
  .slide-content {
    font-size: 18px;
  }
  .slide-card {
    padding-top: 0;
  }
}
@media screen and (max-width: 650px) {
  .slide-content {
    font-size: 16px;
  }
}
@media screen and (max-width: 575px) {
  .slide-content {
    font-size: 14px;
  }
}
@media screen and (max-width: 375px) {
  .slide-content {
    font-size: 10px;
  }
}
@media screen and (max-width: 360px) {
  .slide-content,
  .swiper-button-next,
  .swiper-button-prev {
    display: none;
  }
}
@media screen and (min-width: 1600px) {
  .slide-content {
    font-size: 21px;
  }
  .slide-desc {
    margin: 15px 0;
  }
}
