.adeed-services {
  padding-top: 25px;
}
.cat-header {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
}
span.the-cat-photo {
  width: 188px;
  border-radius: 5px;
  overflow: hidden;
}
span.the-cat-photo img {
  width: 100%;
}
.cat-wrapper-info {
  flex: 1;
  padding: 10px 15px;
}
h1.the-cat-name {
  font-size: 1.5em;
  font-weight: 700;
  margin-bottom: 15px;
}
a.call-for-booking {
  display: flex;
  padding: 12px 15px;
  align-items: center;
  border: solid 1px #d7caca;
  border-radius: 5px;
  font-size: 1.2em;
  max-width: 152px;
  color: var(--new-blue);
  background-color: #faf9f9;
  text-decoration: none;
  margin-top: 5px;
}
a.call-for-booking i {
  font-size: 1em;
  position: relative;
  top: -2px;
  line-height: 1;
}
span.adeed-call-center {
  margin: 0 !important;
  line-height: 1;
  position: relative;
  top: 1px;
}
@media screen and (max-width: 550px) {
  span.the-cat-photo {
    width: 100%;
    display: none;
  }
  .cat-wrapper-info {
    text-align: center;
    margin-top: 15px;
  }
  a.call-for-booking {
    margin: 15px auto 0;
  }
}
h3.our-packages {
  font-size: 1.3em;
  font-weight: 700;
  text-align: center;
  margin: 15px 0 15px;
}
.pkg {
  display: flex;
  align-items: flex-start;
  border: solid 1px #ddd;
  border-radius: 5px;
  overflow: hidden;
  background-color: #fff;
  margin-top: 20px;
}
.pkg-desc {
  color: #808080;
  font-size: 0.95em;
  line-height: 1.3em;
  height: 3.9em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 8px;
}
.pkg img {
  width: 128px;
  height: 128px;
}
.pkg-info {
  flex: 1;
  padding: 10px;
}
.pkg-title {
  font-weight: 700;
  font-size: 1.05em;
  line-height: 1.4em;
  height: 2.8em;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}
.pkg-price {
  font-weight: 700;
  margin-top: 15px;
}
.dir-ar.pkg-price {
  text-align: left;
}
.dir-en.pkg-price {
  text-align: right;
}
.pkg-html {
  color: #808080;
  font-size: 0.95em;
  line-height: 1.3em;
  height: 3.9em;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: 8px;
}
.pkg-html * {
  color: #808080;
  font-weight: 300 !important;
  display: inline !important;
  font-size: 1em !important;
  margin: 0 !important;
  list-style: none !important;
  padding: 0 !important;
}
