<div class="container adeed-services" *ngIf="item.CatID">
    <div class="row">
        <div class="col-12">
            <div class="cat-header">
                <span class="the-cat-photo">
                    <img src="{{utils.getImage(item.CatPhoto, 300, 200)}}" alt="{{utils.alt()}}" />
                </span>
                <div class="cat-wrapper-info">
                    <h1 class="the-cat-name">
                        {{item['CatName_' + lang]}}
                    </h1>
                    <span class="for-booking">{{utils.getString('for_booking')}}</span>
                    <a class="call-for-booking" href="tel:{{settings.PhoneNumberToCall}}" target="_blank">
                        <i class="far fa-phone-alt m-l-10" *ngIf="lang == 'en'"></i>
                        <i class="far fa-phone m-l-10" *ngIf="lang == 'ar'"></i>
                        <span class="adeed-call-center">{{settings.PhoneNumberDisplay}}</span>
                    </a>
                </div>
            </div>
        </div>        
    </div>
    <div class="row">
        <div class="col-12">
            <h3 class="our-packages">{{utils.getString('our_packages')}}</h3>
        </div>
        <div class="col-md-6 col-12" *ngFor="let pkg of services">
            <div class="pkg">
                <img src="{{utils.getImage(pkg._Photo, 128, 128)}}" alt="{{pkg['_Name_' + lang]}}" />
                <div class="pkg-info">
                    <div class="pkg-title">{{pkg['_Name_' + lang]}}</div>
                    <div class="pkg-desc">{{pkg['_Brief_' + lang]}}</div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-12" *ngFor="let pkg of packages">
            <div class="pkg">
                <img src="{{utils.getImage(pkg._Photo, 128, 128)}}" alt="{{pkg['_Name_' + lang]}}" />
                <div class="pkg-info">
                    <div class="pkg-title">{{pkg['_Name_' + lang]}}</div>
                    <div class="pkg-html" *ngIf="lang == 'en'" [innerHTML]="pkg._Description_en"></div>
                    <div class="pkg-html" *ngIf="lang == 'ar'" [innerHTML]="pkg._Description_ar"></div>
                </div>
            </div>
        </div>
    </div>
</div>