<app-page-title [webPage]="webPage" [lang]="lang"></app-page-title>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="web-page-content" *ngIf="webPage.PageContent" [innerHTML]="htmlContent"></div>
            <section id="services" *ngIf="all.length > 0">
                <div class="container">
                    <div class="row centered-row">
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let item of top">
                            <a href="#" routerLink="/{{lang}}/category/{{item.CatID}}" class="main-cat">
                                <span class="all-photo">
                                    <img src="{{utils.getImage(item.CatPhoto, 300, 200)}}" alt="{{utils.alt()}}" />
                                </span>
                                <span class="all-name">
                                    {{item['CatName_' + lang]}}
                                </span>
                            </a>
                        </div>
                        <div class="col-lg-3 col-md-4 col-sm-6 col-12" *ngFor="let item of all">
                            <a href="#" routerLink="/{{lang}}/category/{{item.CatID}}" class="main-cat">
                                <span class="all-photo">
                                    <img src="{{utils.getImage(item.CatPhoto, 300, 200)}}" alt="{{utils.alt()}}" />
                                </span>
                                <span class="all-name">
                                    {{item['CatName_' + lang]}}
                                </span>
                            </a>
                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>
</div>