h3.section-title {
  font-size: 1.8em;
  margin-bottom: 15px;
  color: var(--dark-text);
}
@media screen and (max-width: 575px) {
  h3.section-title {
    font-size: 1.6em;
  }
}
#promise {
  background: url(../../../assets/images/promise.jpeg) no-repeat center center;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 60px;
}
#promise .adeed-promise {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.8em;
  padding: 50px;
  text-align: center;
  height: 560px;
  font-weight: 700;
}
@media screen and (max-width: 575px) {
  #promise .adeed-promise {
    font-size: 1.8em;
    padding: 35px;
  }
}
@media screen and (max-width: 400px) {
  #promise .adeed-promise {
    font-size: 1.6em;
    padding: 30px;
  }
}
section#adeed-is-special {
  padding: 60px 0;
  background-color: #f7f7f7;
}
h3.section-title.special-header {
  text-align: center;
}
.special {
  display: flex;
  margin-top: 30px;
  align-items: flex-start;
}
.special-icon {
  font-size: 2.5em;
  background-color: var(--new-blue);
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 90px;
  height: 90px;
  border-radius: 5px;
}
.special-info {
  flex: 1;
}
.special-title {
  font-weight: 700;
  font-size: 1.3em;
  margin-bottom: 5px;
  color: var(--dark-text);
}
.special-desc {
  white-space: pre-line;
  font-size: 0.95em;
  color: #808080;
}
#partners {
  margin-top: 35px;
  margin-bottom: 35px;
}
a.about-more {
  display: inline-block;
  background-color: #979494;
  color: #fff;
  text-decoration: none;
  line-height: 1;
  padding: 10px;
  border-radius: 5px;
  margin-top: 15px;
}
#feedback {
  background: url(../../../assets/images/feedback.jpeg) no-repeat center center;
  background-size: 100%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
#services {
  padding: 0;
  margin-top: 35px;
  margin-bottom: 40px;
}
section#promise2 {
  background-color: #f7f7f7;
  padding: 35px;
  text-align: center;
  font-weight: 700;
  font-size: 1.3em;
}
section#promise2 .adeed-promise {
  width: 80%;
  margin: 0 auto;
  max-width: 768px;
}
