<div class="feedback-headline">{{utils.getString('our_reviews')}}</div>
<div class="swiper feedback-swiper">
    
    <div class="swiper-wrapper">
      
      <div class="swiper-slide feedback-slide" *ngFor="let item of feedback">
        <div class="feed-wrapper">
          <div class="the-client">{{item.ClientName}} ({{item.ServiceName}})</div>  
            <div class="the-feedback">
                <i class="fal fa-quote-left" *ngIf="lang =='en'"></i>
                <i class="fal fa-quote-right" *ngIf="lang =='ar'"></i>
                <span class="feedback-content">{{item.Feedback}}</span>
                <i class="fal fa-quote-right" *ngIf="lang =='en'"></i>
                <i class="fal fa-quote-left" *ngIf="lang =='ar'"></i>
            </div>                          
        </div>                    
      </div>     
    </div>  

    <div class="swiper-pagination"></div>    
</div>