.feedback-headline {
  color: #fff;
  /* font-weight: 700; */
  padding-top: 50px;
  text-align: center;
  font-size: 1.7em;
  border-bottom: solid 1px #665c5c;
  padding-bottom: 20px;
}
.feedback-slide {
  display: flex;
  align-items: center;
  min-height: 460px;
  padding: 30px 0;
  justify-content: center;
  text-align: center;
}
.feed-wrapper {
  margin: 0 auto;
  width: 80%;
  min-width: 280px;
  max-width: 768px;
}
.the-feedback {
  display: flex;
  align-items: flex-start;
  color: #fff;
}
span.feedback-content {
  font-size: 1.4em;
  white-space: pre-line;
}
.the-client {
  font-size: 1.3em;
  font-weight: 700;
  color: #fff;
  margin-bottom: 30px;
}
