<nav class="layout-{{layout}} dir-{{lang}}">    
    <div class="menu-logo" *ngIf="layout == 'mobile-menu'">
        <img src="../../../assets/images/logo.png" alt="{{utils.alt()}}"  />
    </div>
    <a href="#" routerLink="/{{lang}}/home" class="m-r-10" routerLinkActive="active"><span class="btn-span">{{utils.getString('nav_home')}}</span></a>
    <a href="#" routerLink="/{{lang}}/page/about" class="m-r-10" routerLinkActive="active"><span class="btn-span">{{utils.getString('nav_about')}}</span></a>
    <a href="#" routerLink="/{{lang}}/services" class="m-r-10" routerLinkActive="active"><span class="btn-span">{{utils.getString('nav_services')}}</span></a>
    <a href="#" routerLink="/{{lang}}/page/for-corporate" class="m-r-10" routerLinkActive="active"><span class="btn-span">{{utils.getString('nav_for_corporate')}}</span></a>
    <a href="#" routerLink="/{{lang}}/news" class="m-r-10" routerLinkActive="active"><span class="btn-span">{{utils.getString('nav_news')}}</span></a>
    <!-- <a href="#" routerLink="/{{lang}}/accreditations-and-partnership" class="m-r-10" routerLinkActive="active" *ngIf="!utils.isHome()"><span class="btn-span">{{utils.getString('nav_part')}}</span></a>
    <a href="javascript:void(0)" (click)="goToPartners()" class="m-r-10" *ngIf="utils.isHome()"><span class="btn-span">{{utils.getString('nav_part')}}</span></a> -->
    <a href="#" routerLink="/{{lang}}/page/contact-us" class="m-r-10" routerLinkActive="active"><span class="btn-span">{{utils.getString('nav_contact')}}</span></a>
</nav> 