@import url('assets/fonts/fontawesome-pro/css/all.min.css');
@import url('assets/fonts/font/font.css');
@import url('assets/swiper/swiper-bundle.min.css');
:root {
  --font-family: "tajwal";
  --primary-color: #002d64;
  --accent-color: #137daf;
  --gray-color: #727290;
  --green-color: #c8cf2c;
  --color: #727290;
  --text-color: #727290;
  --doctor-color: #f9f8fc;
  --line-color: #9292ab;
}
html,
body {
  height: 100%;
  overflow-x: hidden;
}
body {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.5;
  color: var(--gray-color);
  font-weight: 300;
}
* {
  outline: none !important;
  -webkit-overflow-scrolling: touch;
}
img {
  max-width: 100%;
}
.ssr-not-loaded {
  display: none !important;
}
a {
  color: var(--accent-color);
}
.site.site-lang-ar {
  --header-border-left: solid 1px var(--line-color);
  --header-border-right: none;
  direction: rtl;
  text-align: right;
}
.site.site-lang-ar i + span {
  margin-right: 5px;
}
.site.site-lang-ar .m-l-auto {
  margin-left: auto;
}
.site.site-lang-ar .m-r-auto {
  margin-right: auto;
}
.site.site-lang-ar .m-l-3 {
  margin-left: 3px;
}
.site.site-lang-ar .m-l-5 {
  margin-left: 5px;
}
.site.site-lang-ar .m-l-10 {
  margin-left: 10px;
}
.site.site-lang-ar .m-l-15 {
  margin-left: 15px;
}
.site.site-lang-ar .m-l-20 {
  margin-left: 20px;
}
.site.site-lang-ar .m-r-3 {
  margin-right: 3px;
}
.site.site-lang-ar .m-r-5 {
  margin-right: 5px;
}
.site.site-lang-ar .m-r-10 {
  margin-right: 10px;
}
.site.site-lang-ar .m-r-15 {
  margin-right: 15px;
}
.site.site-lang-en {
  --header-border-left: none;
  --header-border-right: solid 1px var(--line-color);
  direction: ltr;
  text-align: left;
}
.site.site-lang-en i + span {
  margin-left: 5px;
}
.site.site-lang-en .m-l-auto {
  margin-right: auto;
}
.site.site-lang-en .m-r-auto {
  margin-left: auto;
}
.site.site-lang-en .m-l-3 {
  margin-right: 3px;
}
.site.site-lang-en .m-l-5 {
  margin-right: 5px;
}
.site.site-lang-en .m-l-10 {
  margin-right: 10px;
}
.site.site-lang-en .m-l-15 {
  margin-right: 15px;
}
.site.site-lang-en .m-l-20 {
  margin-right: 20px;
}
.site.site-lang-en .m-r-3 {
  margin-left: 3px;
}
.site.site-lang-en .m-r-5 {
  margin-left: 5px;
}
.site.site-lang-en .m-r-10 {
  margin-left: 10px;
}
.site.site-lang-en .m-r-15 {
  margin-left: 15px;
}
.btn-span {
  position: relative;
  top: 1px;
}
.hide {
  display: none !important;
}
.adeed-home .second-title {
  display: none;
}
section#adeed-home {
  background: #f5f5f5;
  padding: 50px 0;
  margin-bottom: 50px;
}
section#adeed-home .section-title {
  font-weight: 700;
  font-size: 1.6em;
  margin-bottom: 15px;
}
section#adeed-home .section-content {
  font-size: 1.1em;
  color: #a09e9e;
}
@media screen and (max-width: 992px) {
  section#adeed-home {
    text-align: center;
  }
  .photo-col {
    display: none;
  }
}
.feedback-swiper span.swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: #f7f7f7;
}
.adeed-call-center {
  direction: ltr;
  text-align: left;
  unicode-bidi: bidi-override;
}
.site,
.mobile-menu {
  transition: all 500ms;
}
.mobile-menu,
.mobile-menu-overlay {
  display: none;
}
body.mobile-menu-expanded {
  overflow: hidden;
}
body.mobile-menu-expanded .site {
  min-height: 100vh;
  position: relative;
  z-index: 999;
}
body.mobile-menu-expanded .mobile-menu {
  display: block;
  background: #137daf;
  min-height: 100vh;
  width: 80%;
  overflow: hidden;
  position: fixed;
  top: 0;
  z-index: 9999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
body.mobile-menu-expanded .mobile-menu-overlay {
  cursor: pointer;
  display: block;
  background: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999;
}
body.mobile-menu-expanded.menu-lang-ar .site {
  transform: translate(80%);
}
body.mobile-menu-expanded.menu-lang-ar .mobile-menu {
  left: 0;
}
body.mobile-menu-expanded.menu-lang-en .site {
  transform: translate(-80%);
}
body.mobile-menu-expanded.menu-lang-en .mobile-menu {
  right: 0;
}
button.toggle-mobile-menu {
  background: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  width: 40px;
  height: 36px;
}
@media screen and (min-width: 1300px) {
  .web-menu {
    display: block;
  }
  button.toggle-mobile-menu {
    display: none;
  }
  .mobile-menu,
  .mobile-menu-overlay {
    display: none;
  }
}
@media screen and (max-width: 1300px) {
  .web-menu {
    display: none;
  }
  button.toggle-mobile-menu {
    display: flex;
  }
}
