@import url('assets/fonts/fontawesome-pro/css/all.min.css');
@import url('assets/fonts/font/font.css');
@import url('assets/swiper/swiper-bundle.min.css');

:root{
  --font-family: "tajwal";
  --primary-color: #002d64;
  --accent-color: #137daf;  
  --gray-color: #727290;
  --green-color:#c8cf2c;
  --color: #727290;
  --text-color: #727290;
  --doctor-color: #f9f8fc;
  --line-color: #7a8395;
  --new-blue: #137daf;
  --dark-text: #6e7172;
}

html, body {
  height: 100%;
  overflow-x: hidden;
}

body {
  font-family: var(--font-family);
  font-size: 15px;
  line-height: 1.5;
  color: var(--gray-color);
  font-weight: 300;
}

* {
  outline: none !important;
  -webkit-overflow-scrolling: touch;
}

img {
  max-width: 100%;
}

.ssr-not-loaded {
  display: none !important;
}

a{
  color: var(--new-blue);
}

b, strong{
  font-weight: 700;
}

.site{

  &.site-lang-ar{
    --header-border-left: solid 1px var(--line-color);
    --header-border-right: none;

    direction: rtl;
    text-align: right;

    i + span {
      margin-right: 5px;
    }

    .m-l-auto{
      margin-left: auto;
    }

    .m-r-auto{
        margin-right: auto;
    }

    .m-l-3{
        margin-left: 3px;
    }
    .m-l-5{
        margin-left: 5px;
    }
    .m-l-10{
        margin-left: 10px;
    }
    .m-l-15{
        margin-left: 15px;
    }
    .m-l-20{
        margin-left: 20px;
    }

    .m-r-3{
        margin-right: 3px;
    }
    .m-r-5{
        margin-right: 5px;
    }
    .m-r-10{
        margin-right: 10px;
    }
    .m-r-15{
        margin-right: 15px;
    }
  }

  &.site-lang-en{
    --header-border-left: none;
    --header-border-right: solid 1px var(--line-color);    

    direction: ltr;
    text-align: left;

    i + span {
      margin-left: 5px;
    }

    .m-l-auto{
      margin-right: auto;
    }

    .m-r-auto{
        margin-left: auto;
    }

    .m-l-3{
        margin-right: 3px;
    }
    .m-l-5{
        margin-right: 5px;
    }
    .m-l-10{
        margin-right: 10px;
    }
    .m-l-15{
        margin-right: 15px;
    }
    .m-l-20{
        margin-right: 20px;
    }

    .m-r-3{
        margin-left: 3px;
    }
    .m-r-5{
        margin-left: 5px;
    }
    .m-r-10{
        margin-left: 10px;
    }
    .m-r-15{
        margin-left: 15px;
    }
  }
}

.btn-span{
  position: relative;
  top: 1px;
}

.hide{
  display: none !important;
}

.adeed-home{
  .second-title{
    display: none;
  }
}

section#adeed-home {
  background: #f5f5f5;
  padding: 50px 0;
  margin-bottom: 50px;

  .section-title {
    font-weight: 700;
    font-size: 1.6em;
    margin-bottom: 15px;
  }
  
  .section-content {
    font-size: 1.1em;
    color: #a09e9e;
  }
}

@media screen and (max-width:992px) {
  section#adeed-home{
    text-align: center;
  }
  .photo-col{
    display: none;
  }
}

.feedback-swiper{

  .swiper-pagination-bullet {
    background-color: #d8c1c1;
  }

  span.swiper-pagination-bullet.swiper-pagination-bullet-active {
    background: #f7f7f7;
  }
}

.adeed-call-center {
  direction: ltr;
  text-align: left;
  unicode-bidi: bidi-override;
}

.site, .mobile-menu{
  transition: all 500ms;
}

.mobile-menu, .mobile-menu-overlay{
  display: none;
}

body.mobile-menu-expanded{
  overflow: hidden;

  .site {
      min-height:100vh;
      position: relative;              
      z-index:999;
  }

  .mobile-menu {
      display: block;
      background: #137daf;
      min-height:100vh;
      width: 80%;
      overflow: hidden;
      position: fixed;
      top: 0;
      z-index:9999;
      box-shadow: 0 0 20px rgba(0,0, 0, 0.5);  
  }

  .mobile-menu-overlay {
      cursor:pointer;    
      display: block; 
      background: rgba(0,0,0,0.4);
      min-height:100vh;
      width: 100%;
      overflow: hidden;
      position: fixed;
      right: 0;
      top: 0;
      z-index:999;
  }

  &.menu-lang-ar{
      .site{
          transform: translate(80%);
      }

      .mobile-menu{
          left: 0;
      }
  }

  &.menu-lang-en{
    .site{
        transform: translate(-80%);
    }

    .mobile-menu{
        right: 0;
    }
  }
}

button.toggle-mobile-menu {
  background: var(--accent-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  line-height: 1;
  display: none;
  align-items: center;
  justify-content: center;
  font-size: 1.5em;
  width: 40px;
  height: 36px;
}

@media screen and (min-width:1300px) {
  .web-menu{
    display: block;
  }

  button.toggle-mobile-menu{
    display: none;
  }

  .mobile-menu, .mobile-menu-overlay{
    display: none;
  }
}

@media screen and (max-width:1300px) {
  .web-menu{
    display: none;
  }

  button.toggle-mobile-menu{
    display: flex;
  }
}

.web-page-content{
  font-family: var(--font-family) !important;
  font-size: 1.1em !important;
  margin-bottom: 20px;

  *{
      font-family: var(--font-family) !important;
      font-size: 1em !important;
  }
}

.os-not-ios{
  #feedback, #promise{
    background-attachment: fixed !important;
  }
} 

section#top-categories {
  padding: 50px 0;
  text-align: center;
}

.top-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.top-wrapper a {
  flex: 0 0 33.333333%;
  margin-top: 15px;
  text-decoration: none;
}

span.cat-photo {
  display: block;
  opacity: 0.7;
}

span.cat-photo img {
  width: 56px;
}

span.cat-name {
  color: var(--dark-text);
  display: block;
  text-align: center;
  margin-top: 10px;
  font-size: 1.1em;
  text-decoration: none;
}

@media screen and (max-width:575px){
  h3.section-title {
      font-size: 1.6em;
  }

  .top-wrapper a {
      flex: 0 0 50%;
  }
  
  span.cat-photo img {
      width: 36px;
  }

  span.cat-name{
      font-size:1em;
  }
}


a.main-cat {
  display:block;
  position: relative;
  margin-top: 15px;
      border-radius: 10px;
      overflow: hidden;
}

span.all-photo img {
  display: block;
  width: 100%;
}

span.all-name {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(17, 17, 17,  .47);
  color: #fff;
  font-weight: 700;
  font-size: 1.2em;
  padding: 10px;
  text-align: center;
}